.info-card {
    .blue-frog {
    width: 130px;
    left: 470px;
    top: -40px;
    }

    .purple-frog {
    transform: scaleX(-1); 
    width: 130px;
    left: 488px;
    top: 125px;
    }

    .yellow-blue-frog {
    transform: scaleX(-1);
    width: 170px;
    left: -70px;
    bottom: 150px;
    }

    .red-frog {
    transform: scaleX(-1); 
    width: 220px;
    left: 415px;
    bottom: -33px;
    }

    .yellow-frog {
    width: 180px;
    left: 1px;
    bottom: 145px;        
    }
}