@use '_variables.scss' as *;

.welcome-card,
.info-card {
    background-color: $card-background-color;
    border-radius: 22px;
    border: 4px solid $border-color;
}

@media (min-width: 834px) {
    .welcome-card,
    .info-card {
        border: 6px solid $border-color;
    }
}
