@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=RocknRoll+One&display=swap');

$heading1: 'Luckiest Guy', sans-serif;
$heading2: 'RocknRoll', sans-serif;
$heading3: 'RocknRoll', sans-serif;
$main-font: 'Gantari', sans-serif;
$button-font: 'Luckiest Guy', sans-serif;
$link-font: 'Gantari', sans-serif;
