// Typography variables
$h1-font: 'Luckiest Guy', sans-serif;
$h2-font: 'RocknRoll', sans-serif;
$h3-font: 'RocknRoll', sans-serif;
$p-font: 'Gantari', sans-serif;
$button-font: 'Luckiest Guy', sans-serif;
$link-font: 'Luckiest Guy', sans-serif;

$h1-fontsize: 32px;
$h2-fontsize: 20px;
$h3-fontsize: 16px;
$p-fontsize: 16px;
$button-fontsize: 20px;
$link-fontsize: 18px;

// Color variables
$text-color: #000;
$button-link-text-color: #eae0c8;

$icon-frog-color: #119bf6;
$detail-color: #ff2700;
