// Typography variables
$h1-font: 'Luckiest Guy', sans-serif;
$h2-font: 'RocknRoll One', sans-serif;
$h3-font: 'RocknRoll One', sans-serif;
$p-font: 'Gantari', sans-serif;
$button-font: 'Luckiest Guy', sans-serif;
$link-font: 'Luckiest Guy', sans-serif;

// Font-sizes (mobile)
$h1-fs-mobile: 2rem;
$h2-fs-mobile: 1.25rem;
$h3-fs-mobile: 1.25rem;
$p-fs-mobile: 1rem;
$button-fs: 1.25rem;
$link-fontsize: 1.125rem;

// Font-sizes (tablet)
$h1-fs-tablet: 3rem;
$h2-fs-tablet: 2rem;
$h3-fs-tablet: 1.4rem;
$p-fs-tablet: 1.25rem;

// Font-sizes (desktop)
$h1-fs-desktop: 3rem;
$h2-fs-desktop: 2rem;
$h3-fs-desktop: 1.5rem;
$p-fs-desktop: 1.25rem;

// Color variables
$text-color: #eae0c8;
$link-color: #000;
$icon-frog-color: #119bf6;
$detail-color: #ff2700;
$border-color: rgba(255, 39, 0, 0.64);
$card-background-color: rgba(0, 0, 0, 0.8);
