*,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html, body {
    height: 100vh;
    margin: 0;
  }


  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }


:root {
    background-image: url('../assets/figma_components/main-background.jpg');
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.game-page {
    background-image: url('../assets/figma_components/game-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }